@import '~bootstrap/scss/bootstrap';

$success-color: #008000;
$error-color: #f00;

h1 {
  text-align: center;
}

.success {
  color: $success-color;
}

.error {
  color: $error-color;
}

.my-border {
  border-style: solid;
  border-width: 2px;
}

.my-border-bottom {
  @extend .my-border;
  border-bottom-width: 4px;
}

.my-border-left {
  @extend .my-border;
  border-left-width: 4px;
}

.my-border-right {
  @extend .my-border;
  border-right-width: 4px;
}

.my-border-top {
  @extend .my-border;
  border-top-width: 4px;
}

.font-size-40 {
  font-size: 40px;
}

.box-size-100 {
  font-size: 80px;
  font-weight: bold;
  height: 100px;
  line-height: 80%;
  text-align: center;
  width: 100px;
}

.messages {
  font-size: 30px;
  text-align: center;
}
