@import '~bootstrap/scss/bootstrap';

h1 {
  text-align: center;
}

.success {
  color: green;
}

.error {
  color: red;
}

#form-container {
  align-items: center;
}

#messages {
  font-size: 30px;
  text-align: center;
}
